.rootAbout {
    // min-height: 100vh;
    // width: 1100px;
    // background-color: rgb(11, 16, 40);
    // margin-bottom: 150px;

    // min-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 1100px;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;

    .contentContainer {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-between;

        .content {
            width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            margin: auto;
            // margin-right: 60px;
            // padding: 50px;

            p {
                color: white;
                font-size: 20px;
                font-weight: 400;
                padding-top: 15px;
            }

            .images {
                // margin: 10px;
            }
        }
    }
}

// @media screen and (max-width: 1200px) {
//     .rootAbout {
//         .contentContainer {
//             width: 100%;
//             .content {
//                 p {
//                     font-size: 15px;
//                     padding-left: 10px;
//                     padding-right: 10px;
//                     text-align: center;
//                 }
//             }

//             .images {
//                 display: none;
//             }
//         }
//     }
// }

// @media screen and (max-width: 1050px) {
//     .rootAbout {
//         .contentContainer {
//             width: 100%;
//             .content {
//                 p {
//                     font-size: 15px;
//                     padding-left: 10px;
//                     padding-right: 10px;
//                     text-align: center;
//                 }
//             }

//             .images {
//                 display: none;
//             }
//         }
//     }
// }

// @media screen and (max-width: 900px) {
//     .rootAbout {
//         .contentContainer {
//             width: 100%;
//             .content {
//                 p {
//                     font-size: 15px;
//                     padding-left: 10px;
//                     padding-right: 10px;
//                     text-align: center;
//                 }
//             }

//             .images {
//                 display: none;
//             }
//         }
//     }
// }

// @media screen and (max-width: 900px) {
//     .rootAbout {
//         .contentContainer {
//             width: 100%;
//             .content {
//                 p {
//                     font-size: 15px;
//                     padding-left: 10px;
//                     padding-right: 10px;
//                     text-align: center;
//                 }
//             }

//             .images {
//                 display: none;
//             }
//         }
//     }
// }

// @media screen and (max-width: 748px) {
//     .rootAbout {
//         .contentContainer {
//             width: 100%;
//             .content {
//                 p {
//                     font-size: 15px;
//                     padding-left: 10px;
//                     padding-right: 10px;
//                     text-align: center;
//                 }
//             }

//             .images {
//                 display: none;
//             }
//         }
//     }
// }

// @media screen and (max-width: 360px) {
//     .rootAbout {
//         .contentContainer {
//             width: 100%;
//             .content {
//                 p {
//                     font-size: 15px;
//                     padding-left: 10px;
//                     padding-right: 10px;
//                     text-align: center;
//                 }
//             }

//             .images {
//                 display: none;
//             }
//         }
//     }
// }
