.rootEvents {
    padding-bottom: 100px;
    width: 1100px;
    margin: auto;

    .buttons {
        padding-top: 20px;
        padding-bottom: 50px;
        display: flex;
        // margin: 20px;

        .button {
            // height: 150px;
            // width: 150px;
            // background-color: aqua;
            // border: 1px solid white;
            // border-radius: 10px;
            margin-left: 20px;
            // width: fit-content;
            width: 140px;
            height: fit-content;
            padding: 8px 15px;
            color: #0b1027;

            text-align: center;
            // background-color: rgba(137, 203, 241, 0.2);
            background-color: white;

            backdrop-filter: blur(2px);
            // border: 2px solid white;
            border: 2px solid rgba(70, 175, 235, 0.4);
            border-radius: 5px;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            transition-duration: 0.4s;
            cursor: pointer;

            &:hover {
                // transform: scale(1.05);
                // box-shadow: 0px 0px 10px rgb(70, 175, 235, 0.5);
                background-color: rgb(70, 175, 235, 0.4);
                color: #ffffff;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .rootEvents {
        padding-bottom: 50px;
        width: 95%;
        margin: auto;

        .buttons {
            padding-top: 0px;
            padding-bottom: 30px;

            display: flex;
            flex-direction: row;
            // margin-bottom: 10px;
            // justify-content space: ;
            // margin: 20px;
            // width: 10px;
            // height: fit-content;
            .button {
                height: fit-content;
                width: 100px;
                // background-color: aqua;
                // border: 1px solid white;
                // border-radius: 10px;
                margin-bottom: 20px;
                padding: 8px 15px;

                font-size: 12px;
            }
        }
    }
}
