.eventDetailsRoot {
    width: 1100px;
    margin: auto;
    // width: 100%;
    // margin: ;
    padding-bottom: 100px;

    .eventsDetailsMain {
        width: 1150px;
        margin: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        a {
            display: block;
            color: white;

            .eventCard {
                width: 350px;
                height: 500px;

                margin: 0 0px 50px 0px;

                // border: 2px solid rgb(70, 175, 235, 0.4);
                border-radius: 10px;

                overflow: hidden;

                position: relative;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 0px 10px rgb(70, 175, 235, 0.5);
                }

                .eventImg {
                    width: 100%;
                    height: 100%;
                }

                .eventTitle {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 100%;
                    height: 42px;

                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 18px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: #00000080;
                }

                .eventDescription {
                    background-color: #00000099;

                    position: absolute;
                    top: 0;
                    left: 0;

                    height: calc(100% - 42px);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    padding: 12px;
                    line-height: 22px;

                    opacity: 0;
                }

                &:hover {
                    .eventDescription {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .eventDetailsRoot {
        .eventsDetailsMain {
            width: 95%;

            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 550px) {
    .eventDetailsRoot {
        .eventsDetailsMain {
            justify-content: center;
            margin: 0;
        }
    }
}

@media screen and (max-width: 450px) {
    .eventDetailsRoot {
        width: 85%;
        margin: auto;
        padding-bottom: 50px;

        .eventsDetailsMain {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 5px;
        }
    }
}
