.headingContainer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    // justify-content: s;
    align-items: start;

    height: 8rem;
    width: 1150px;
    position: relative;
    // overflow: hidden;

    .backText {
        text-transform: uppercase;
        font-size: 180px;
        position: absolute;
        top: -70%;
        left: -2%;

        font-weight: 700;
        color: hsla(0, 0%, 100%, 0.08);
        z-index: 0;

        filter: blur(5px);
    }

    .titleContainer {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        width: 100%;
        z-index: 1;

        .frontText {
            font-weight: 700;
            font-size: 70px;
            letter-spacing: 0.05em;
            color: rgb(70, 175, 235);
            // color: linear-gradient(red, yellow, 90deg);
            padding-left: 10px;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
            // text-outline: white;
        }
    }
}

// @media screen and (width: 1300px) {
//     .headingContainer {
//         height: 8rem;
//         width: 350px;

//         .backText {
//             font-size: 70px;
//             top: -20%;
//             left: -2%;
//         }

//         .titleContainer {
//             .frontText {
//                 font-size: 40px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 1200px) {
//     .headingContainer {
//         height: 8rem;
//         width: 350px;

//         .backText {
//             font-size: 70px;
//             top: -20%;
//             left: -2%;
//         }

//         .titleContainer {
//             .frontText {
//                 font-size: 40px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 1050px) {
//     .headingContainer {
//         height: 8rem;
//         width: 350px;

//         .backText {
//             font-size: 70px;
//             top: -20%;
//             left: -2%;
//         }

//         .titleContainer {
//             .frontText {
//                 font-size: 40px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 900px) {
//     .headingContainer {
//         height: 8rem;
//         width: 350px;

//         .backText {
//             font-size: 70px;
//             top: -20%;
//             left: -2%;
//         }

//         .titleContainer {
//             .frontText {
//                 font-size: 40px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 748px) {
//     .headingContainer {
//         height: 8rem;
//         width: 350px;

//         .backText {
//             font-size: 70px;
//             top: -20%;
//             left: -2%;
//         }

//         .titleContainer {
//             .frontText {
//                 font-size: 40px;
//             }
//         }
//     }
// }
// @media screen and (max-width: 360px) {
//     .headingContainer {
//         height: 8rem;
//         width: 350px;

//         .backText {
//             font-size: 70px;
//             top: -20%;
//             left: -2%;
//         }

//         .titleContainer {
//             .frontText {
//                 font-size: 40px;
//             }
//         }
//     }
// }
