.headingContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    // justify-content: s;
    align-items: start;

    height: 12rem;
    width: 1150px;
    position: relative;
    // overflow: hidden;

    .backText {
        text-transform: uppercase;
        font-size: 180px;
        position: absolute;
        top: -45%;
        left: -2%;

        font-weight: 700;
        color: hsla(0, 0%, 100%, 0.08);
        z-index: 0;

        filter: blur(5px);
    }

    .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1;

        .frontText {
            font-weight: 700;
            font-size: 70px;
            letter-spacing: 0.05em;
            color: rgb(70, 175, 235);
            // color: linear-gradient(red, yellow, 90deg);
            padding-left: 10px;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
            // text-outline: white;
        }

        .line {
            margin: 10px 15px 0 30px;
            padding: 20px 10px 20px 10px;

            flex-grow: 2;
            background: linear-gradient(
                180deg,
                transparent,
                black,
                transparent
            );
            border-radius: 100px;

            .actualLine {
                height: 4px;
                min-width: 300px;
                width: 100%;
                border-radius: 50px;
                background-color: red;
            }
        }
    }
}
