.rootPresenters {
    // margin-top: 10px;
    margin-bottom: 100px;
    // margin: AUTO;
    display: flex;
    // width: 100%;
    justify-content: center;

    .logoContainer {
        display: flex;
        max-width: 70%;
        align-items: center;
        // background-color: rgb(137, 203, 241, 0.1);
        // backdrop-filter: blur(2px);
        // border-radius: 30px;
        // border: 2px solid rgb(70, 175, 235, 0.4);
        border-radius: 50px;
        // flex-wrap: wrap;
        // padding: 20px;
        justify-content: center;
        flex-wrap: wrap;

        .ghrce {
            display: block;

            img {
                width: 100px;
                height: auto;
                margin: 30px;
            }
        }

        .rgi {
            display: block;

            img {
                height: 85px;
                width: auto;
                // margin: 30px;
                margin: 30px 10px 30px 40px;
            }
        }

        .coe {
            display: block;

            img {
                height: auto;
                width: 100px;
                margin: 30px 10px 30px 30px;
            }
        }
        .ieee {
            display: block;

            img {
                height: 50px;
                width: auto;
                margin: 30px;
            }
        }

        .jarvis {
            display: block;

            img {
                width: auto;
                height: 170px;
                margin: 30px;
            }
        }

        .gdgc {
            display: block;

            img {
                padding-top: 15px;
                height: 200px;

                width: auto;
                margin: 30px;
            }
        }

        .mlsa {
            display: block;

            img {
                padding-top: 15px;
                height: 120px;

                width: auto;
                margin: 30px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .rootPresenters {
        margin-bottom: 50px;
        // width: 100%;
        .logoContainer {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            // img {
            //     width: 100px;
            //     height: auto;
            //     margin: 20px;
            // }

            .ghrce {
                display: block;

                img {
                    width: 100px;
                    height: auto;
                    margin: 30px;
                }
            }

            .rgi {
                display: block;

                img {
                    height: 85px;
                    width: auto;
                    margin: 30px 30px 0 30px;
                }
            }

            .coe {
                display: block;

                img {
                    height: auto;
                    width: 100px;
                    // margin: 30px;
                    margin: 30px 30px 0px 30px;
                }
            }

            .ieee {
                display: block;

                img {
                    height: 50px;
                    width: auto;
                    // margin: 30px;
                    margin: 10px 30px 30px 30px;
                }
            }

            .jarvis {
                img {
                    margin: 0px 30px 0 30px;
                }
            }

            .gdgc {
                img {
                    margin: 0;
                    padding: 0px;
                }
            }
        }
    }
} ;
