/* Import */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);

#content {
    width: 1100px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    // background-color: white;
}

/* Timeline */

.timeline {
    border-left: 4px solid #4298c3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: fade(white, 3%);
    color: fade(white, 80%);
    /* font-family: @font-text; */
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;

    h1,
    h2,
    h3 {
        // font-family: @font-title;
        // letter-spacing: 1.5px;
        font-weight: 500;
        font-size: 1.4em;
        color: rgb(145, 156, 219);

        padding-bottom: 5px;
    }

    .event {
        border-radius: 10px;
        border: 2px solid rgb(70, 175, 235, 0.4);
        background-color: rgb(137, 203, 241, 0.1);
        backdrop-filter: blur(2px);
        // padding: auto;
        width: 500px;
        border-bottom: 1px dashed fade(white, 10%);
        padding: 25px 25px 25px 25px;
        margin-bottom: 50px;
        position: relative;
        color: white;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: flex-start;

        // &:last-of-type {
        //     padding-bottom: 0;
        //     margin-bottom: 0;
        //     border: none;
        // }

        &:before,
        &:after {
            position: absolute;
            display: block;
            top: 10;
            color: rgb(145, 156, 219);
            // font-weight: 700;
        }

        &:before {
            left: -217.5px;
            color: fade(white, 40%);
            content: attr(data-date);
            text-align: right;
            font-weight: 500;
            font-size: 0.9em;
            min-width: 120px;
        }

        &:after {
            box-shadow: 0 0 0 4px fade(#4298c3, 100%);
            left: -57.85px;
            background: lighten(white, 5%);
            border-radius: 50%;
            height: 11px;
            width: 11px;
            content: "";
            top: 30px;
        }
    }
}

@media screen and (max-width: 450px) {
    #content {
        width: 90%;
        margin: 0px;
    }

    .timeline {
        border-left: 2px solid #4298c3;
        border-bottom-right-radius: 4px;
        // border-top-right-radius: 4px;
        background: fade(white, 3%);
        color: fade(white, 80%);
        /* font-family: @font-text; */
        // margin: 50px auto;
        letter-spacing: 0.5px;
        position: relative;
        line-height: 1.4em;
        font-size: 1.03em;
        padding: 30px;
        list-style: none;
        text-align: left;
        font-weight: 100;
        max-width: 30%;

        h1,
        h2,
        h3 {
            // font-family: @font-title;
            // letter-spacing: 1.5px;
            font-weight: 500;
            font-size: 1.4em;
            color: rgb(145, 156, 219);

            padding-bottom: 5px;
        }

        .event {
            // border-radius: 10px;
            // border: 2px solid rgb(70, 175, 235, 0.4);
            // background-color: rgb(137, 203, 241, 0.1);
            // backdrop-filter: blur(2px);
            // padding: auto;
            width: 210px;
            border-bottom: 1px dashed fade(white, 10%);
            padding: 15px;
            margin-bottom: 50px;
            position: relative;
            color: white;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: flex-start;

            // &:last-of-type {
            //     padding-bottom: 0;
            //     margin-bottom: 0;
            //     border: none;
            // }

            &:before,
            &:after {
                position: absolute;
                display: block;
                top: 10;
            }

            &:before {
                left: -170px;
                content: attr(data-date);
                text-align: right;
                font-weight: 500;
                font-size: 8px;
                width: 30px;
            }

            &:after {
                box-shadow: 0 0 0 4px fade(#4298c3, 100%);
                left: -35.85px;
                background: lighten(white, 5%);
                border-radius: 50%;
                height: 8px;
                width: 8px;
                content: "";
                top: 21px;
            }
        }
    }
}
