.rootTrailer {
    max-width: 1100px;
    margin: auto;
    // margin-bottom: 100px;
    padding-bottom: 100px;

    .videoAndDatetime {
        // position: relative;
        // width: 100%;
        // padding-bottom: 56.25%;
        // height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;

        iframe {
            // position: absolute;
            top: 0;
            left: 0;
            width: 657.49px;
            height: 370px;
        }

        .datetimeContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .eventMetas {
                padding: 0px 0px 40px 0;

                .date,
                .time,
                .venue {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 8px;

                    svg {
                        fill: #dfdfdf;
                        width: 30px;
                        margin: 10px;
                    }

                    p {
                        color: #cfcfcf;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }

                .time {
                    svg {
                        fill: none;
                    }
                }
            }

            .registerBtn {
                display: flex;
                justify-content: center;
                padding: 30px 10px;

                button {
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 16px;

                    border: 1px solid transparent;
                    border-radius: 100px;
                    background-color: #46afeb50; //rgba(255, 255, 255, 0.4);

                    &:hover {
                        background-color: #46afeb7f;
                        animation: fade-bg 0.3s ease-in-out forwards;
                        animation-delay: 0.5s;
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(1);
                    }

                    a {
                        display: block;
                        padding: 16px 50px;
                        color: #46afeb;
                    }
                }
            }
        }
    }

    .countdownTooltip {
        text-align: center;
        padding: 20px 0 25px 0;

        font-family: RoobertBold;
        font-size: 35px;
        font-weight: 700;
        color: #8cadbc;

        text-shadow: 0 0 120px rgba(10, 175, 230, 1),
            0 0 20px rgba(10, 175, 230, 0);
    }

    .countdownContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 30px 0 40px 0;

        .countdownBox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 20px;

            .countdownNumber {
                font-family: RoobertBold;
                font-size: 70px;
                font-weight: 700;
                color: #8cadbc;

                text-shadow: 0 0 120px rgba(10, 175, 230, 1),
                    0 0 20px rgba(10, 175, 230, 0);
            }

            .countdownText {
                font-family: RoobertBold;
                font-size: 20px;
                font-weight: 700;

                color: #8cadbc7f;

                text-shadow: 0 0 120px rgba(10, 175, 230, 1),
                    0 0 20px rgba(10, 175, 230, 0);
            }
        }
    }

    .timeSeparator {
        font-family: RoobertBold;
        font-size: 70px;
        font-weight: 700;
        padding: 0 0 25px 0;

        color: #8cadbc;
        transition: all 950ms;

        text-shadow: 0 0 120px rgba(10, 175, 230, 1),
            0 0 20px rgba(10, 175, 230, 0);

        &.active {
            color: #8cadbc7f;
        }
    }
}

@keyframes fade-bg {
    0% {
        background-color: #46afeb7f;
    }
    100% {
        background-color: transparent;
        border: 1px solid #46afeb;
    }
}

@media screen and (max-width: 450px) {
    .rootTrailer {
        width: 100%;
        // margin: auto;
        .videoAndDatetime {
            // position: relative;
            // width: 100%;
            // padding-bottom: 56.25%;
            // height: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 50px;

            iframe {
                width: 330px;
                height: 186px;
                margin-bottom: 30px;
            }
        }
    }
}
